<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="estoque.DAL.Properties.Settings.db_estoqueConnectionString"
            connectionString="Data Source=DESKTOP-CGER978;Initial Catalog=db_estoque;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>